{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<div class="p-4 bg-light rounded-3">
    <h1 class="display-6">Hello {{ controller_name }}! ✅</h1>
    <p class="mb-0">This friendly message is coming from:</p>
    <ul class="mb-0">
        <li>Your controller at <code>C:/wamp64/www/lepetitreveur/src/Controller/PageController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/lepetitreveur/templates/page/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
