{% extends 'base.html.twig' %}

{% block title %}Nouvel enfant{% endblock %}

{% block body %}
    <h1>Nouvel enfant</h1>
    {{ include('child/_form.html.twig') }}

    <a href="{{ path('app_child_index') }}">Retour à la liste</a>
{% endblock %}
